.starter__section{
    background-color: hsl(257, 27%, 36%);
    background-image: url(../../assets/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;

    
}
.starter__wrapper{
    display: block;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    color: white;
    padding: 4em 1em 4em 1em
}
.starter__wrapper > h3{
    margin-bottom: 0.75em;
    font-size: 2em;
}

.starter__wrapper > button {
  border: none;
  background-color: var(--cyan);
  color: white;
  white-space: nowrap;
  border-radius: 25px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1.5em;
}

@media (min-width: 905px) {
    .starter__section{
        background-image: url(../../assets/bg-boost-desktop.svg);
    }
}