.hero__section {
  margin-left: 1em;
  overflow: hidden;
}

.hero__img {
  display: block;

  width: 120%;
}

.hero__typography {
  margin-right: 1em;
}

.hero__typography > h1 {
  font-weight: 700;
  font-size: 2.75em;
  text-align: center;
  line-height: 55px;
  margin-bottom: 0;
}

.hero__typography > p {
  text-align: center;
  color: var(--grayishViolet);
  margin-bottom: 2em;
}

.hero__typography > button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: none;
  background-color: var(--cyan);
  color: white;
  width: 50%;
  white-space: nowrap;
  border-radius: 20px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}


@media (min-width: 905px){
  .hero__section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 9em;
  }
  .hero__typography > h1{
    text-align: left;
    font-size: 3.5em;
  }
  .hero__typography > p{
    text-align: left;
  }

  .hero__typography > button {
    margin-left:initial;
  }

  .hero__img{
    width: 100%;
    max-width: 50%;
    margin-left: 4em;
  } 
}
