main {
    background-color:  hsl(257, 7%, 90%);
    margin-top: -5.6em;
    position: relative;
    z-index: -1;
    width: 100%;
    padding-bottom: 4em;
}

.features__wrapper{
    margin-left: 1em;
    margin-right: 1em;
    
}

.summary{
    padding-top: 10em;
    text-align: center;

}

.summary > h3 {
    font-size: 2em;
}

.summary > p {
    color: var(--grayishViolet);
    font-size: 18px;
}

.cards__container{
    margin-top: 5em;
}


@media (min-width: 905px){
    .cards__container{
        display: flex;
        gap: 2em;
        justify-content: center;
    }

    .summary{
        margin-right: 10em;
        margin-left: 10em;
    }

    .features__wrapper{
        margin-left: 9em;
        margin-right: 9em;
    }

}

