ul {
  list-style: none;
  padding: 0;
}

footer {
  background-color: var(--darkBlue);
  color: white;
}

.footer__webrepresentation > h3 {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 2em;
}
.social__icons{
    margin-top: 2em;
    margin-bottom: 4em;
    cursor: pointer;
}

.social__icons > img:hover{
    filter: invert(74%) sepia(58%) saturate(469%) hue-rotate(119deg) brightness(94%) contrast(92%);
}
.social__icons > img:not(:last-child){
    margin-right: 0.8em;
}


.footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.footer__links > ul > li:first-child {
  font-weight: 700;
  margin-bottom: 1em;
}

.footer__links > ul > li:not(:first-child) {
  color: var(--grayishViolet);
  cursor: pointer;
}

.footer__links > ul > li:not(:first-child):hover {
    color: var(--cyan);
  }

.footer__links > ul > li:not(:first-child:not(:last-child)) {
  margin-bottom: 0.5em;
}

svg:not(:last-child){
  margin-right: 1em;
}

path:hover{
  fill: cyan;
}
@media (min-width: 905px) {
  .footer__wrapper {
    flex-direction: row;
    align-items: baseline;
    margin-left: 9em;
    margin-right: 9em;
    text-align: initial;

  }

  .footer__links{
      display: flex;
      text-align: left;
      align-items: baseline;
      flex: 1;
      justify-content: space-evenly;
      width: 50%;
  }

  .social__icons{
      margin-top: 1em;
      margin-bottom: 0;
      margin-left: 1em;
  }


.footer__webrepresentation > h3 {
    margin-right: 5em;
  }
}
